/* * {
    box-sizing: border-box;
} */
html,body{
    height: 100%;
    min-height: 100vh;
    padding-top: 10px;       
    background-color: #f4f4f4;
}
@font-face {
    font-family: Metropolis;
    src: url(../font/Metropolis-Regular.otf);
}
.logo{
    width: 8rem; 
    text-align: left;
    padding: 10px;
} 
.text-logo{
    font-family:Metropolis, sans-serif;
    font-size: 10px;
}
td:last-child{
    height: 50px;
    padding: 10px;
    border-left: 1px solid #aea9a8;
    text-align: left;
}
.get-button{
    border-style: none;
    border-radius: 25px;
    padding: 20px;
    font-family: Metropolis;
    font-size: 15px;
    background-color:#e63d27;
    color: #f4f4f4;
} 

.get-button:hover{
    background-color: #f4f4f4;
    color:#e63d27;
    border: 2px solid #e63d27;
}
.blue{  
    font-family: Metropolis;
    color: #1082c4;
    font-size: 20px;
}
.container{
   display: table;
   margin: auto;
   vertical-align: center;
}
.imagem{
    display: table-cell;
    float:left;
 }
.texto{
    display: table-cell;
    float: right;
}
.arrow{
    padding-top: 50px;
    margin: -50px;
}

p{
    font-family: Metropolis;
}

h1{
    font-family: Metropolis;
    font-size: 65px;
}
.box-shadow{        /*sombra do formulario*/
    
    box-shadow: 0 0 20px 0  #1082c4 ;

}
.fim{
    background-color: #1d1d1f;
}