body{

    background-color: #f4f4f4;
}
h1{
}
.blue{
    color: #1082c4;
}
.box-shadow{
    height: 815px;
    width: 815px;
    box-shadow: inset 0 0 10px 10px;
    box-shadow: 5px 5px 10px rgb(42, 46, 42),-5px 0 darkgreen;
}
